 /* Megan Chamberlin - 2022  */

 body{
    background-image: url('../images/travelPlaceholder.jpg');
    color: black;
    box-sizing: border-box;
    overflow: hidden;
}

main{
    display: flex;
}

h2{
    margin:0;
}
.container{
    display: flex;
    flex-direction: column;
}

#contact{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f2d0a4c4;
    padding-left: 10%;
    width:40%;
    min-width:600px;
}
.contactInfo{           
    margin-left: 25px;
}
.contactInfo p, a{
    text-decoration: none;
    color: black;
    font-size: 1.25em;
    margin-top:0;
    
}
.contactForm{
    width:500px;
    padding: 5% 5% 5% 5%;
    background-color: white;
    border-radius: 30px;
    justify-content: center;   
}
.contactForm h2{
    margin-bottom: 5px;
    
}

input{
    position: relative;
    margin-bottom: 2%;
    width: 100%;
    font-size: 1.5em;
}
textarea{
    font-size: 1.5em;
    font-family: inherit;
}
button{
    background: #0094C6;
    width: 100px;
    padding: 10px;
    border-top: 3px solid #5CD6FF;
    border-left: 2px solid #5CD6FF;
    border-bottom: 3px solid rgba(87, 87, 87, 0.562);
    border-right: 2px solid rgba(87, 87, 87, 0.562);
    border-radius: 10%;
    cursor: pointer;
    font-weight: 1000;
    color:white
}
    
    