 /* Megan Chamberlin - 2022  */
 body{
     background-color:#F2D0A4;
     font-family: Arial;
     height: fit-content;
     margin: 0%;
     color:black;
 }

/* nav menu */
header { 
    position: sticky; 
    top: 0;
}
#menu_bar {
    overflow: hidden;
    
    background-color: #4d0b36;
    
}
#menu_bar li{
    float: left;
    display: inline;
}
li a{
    display: block;
    color: white;  
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
}
li a:hover{
    background-color: #2B061E;
}
main{
    margin:1%;
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
figure{
    display: flex;
    width:20%;
    flex-direction: column;
    font-style: italic;
    align-items: center;
    float: left;
}
figure > img{
    max-width: 100%;
}

