 /* Megan Chamberlin - 2022  */

 body{
    background-color:#000000;
    font-family: Arial;
    color:white;
    margin: 0%; 
}

/* nav menu */
header { 
   position: sticky; 
   z-index: 1;
   top: 0;
}
#menu_bar {
   margin: 0%;
   overflow: hidden;
   background-image: linear-gradient(to bottom right, #480A32, #160d13); ;
}

#menu_bar li{
   float: left;
   display: inline;
}
li a{
   display: block;
   color: white;  
   font-weight: bold;
   text-decoration: none;
   list-style-type: none;
   padding: 20px;
}
li .home{
   color:#2B061E
}
li a:hover{
   background-color: #2B061E; 
}